.container_navbar {
    margin-bottom: 100px;
}

.navbar{
    background-color: #001a1a !important;
    color: #fff !important;
    margin-bottom: 50px;
}

.navbar-brand {
    color: #f2c0b2 !important;
    display: flex!important;
}

.logo {
    height: 45px;
    width: auto;
}

.title {
    line-height: 45px;
    margin-left: 15px;
}